<%- include /include/head.html %>
<link type="text/css" rel="stylesheet" href="http://static1.example.com/css/jquery.simple.tree_64d165d.css" />
<script type="text/javascript" src="http://s2.example.com/js/jquery.simple.tree_593eaab.js"></script>
<script type="text/javascript" src="http://static1.example.com/js/node_858d1f4.js"></script>

<div id="main">
    <div id="mainleft">
    </div>
    <div id="mainright">
        <ul class="simpleTree">
            <li class="root"><span>网站</span>
                <ul>
                    <li id="root0" class="open"><span>首页</span> <a href="/addnode/?pid=52a0229f940a31052813acb2">添加子节点</a>
                        <ul class="ajax">
                            <li id='1'>{url:/node/page?pid=52a030d4940a31052813acb3}</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<%- include /include/footer.html %>
