<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>无标题页</title>
    <meta name="robots" content="noindex,nofollow" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache "/>
    <link href="http://s2.example.com/css/base_d055107.css" rel="stylesheet" type="text/css" />
    <link href="http://static1.example.com/css/manage_eba11a3.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="http://static1.example.com/js/jquery-1.7.1.min_b3560fc.js"> </script>
    <script language="javascript" type="text/javascript" src="/ext/lhgDialog-4.2.0/lhgdialog.min.js?skin=iblack"></script>
    <script language="javascript" type="text/javascript" src="http://static1.example.com/js/manage_df4e5a0.js"></script>
</head>
<body>
    <div id="header">
        <img src="http://static1.example.com/img/logo_002331c.png" alt="taosent" style="margin:8px 0 0 5px;" />
        <div id="managetip" >
            <div id="manage_usertip" onmouseover="manageAdminUser.disUserEditMenu('manage_usertip_menu')" onmouseout="manageAdminUser.hideUserEditMenu('manage_usertip_menu')">
                <span id="manage_usertip_left" class="manage_usertip_left_hui"></span>
                <span id="manage_usertip_center"><%=user_loginname %></span>
                <span id="manage_usertip_right" class="manage_usertip_right_hui"></span>
                <div id="manage_usertip_menu" style="display:none;">
                    <span id="manage_user_menu_jiantou"></span>
                    <ul>
                        <li class="usermenuchoose"><a href="/manage/pages/edituser.aspx?id=<%=user_loginid %>">编辑个人信息</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="width:300px;height:44px"></div>
