<%- include listleft %>$<div class="leftmenuchild">
	<div class="menuchild">
		<h2><a href="#" title="">互动管理</a></h2>
		<ul>
			<li id="menu_gestbook"><a href="/guestbook.aspx" onclick="manageui.SetLoca('gestbook_hudong')" title="">留言管理</a></li>
			<li id="menu_vote"><a href="/vote.aspx" onclick="manageui.SetLoca('vote_hudong')" title="">投票管理</a></li>
		</ul>
	</div>
	<div class="menuchild">
		<h2><a href="#" title="">快捷通道</a></h2>
		<ul>
			

		</ul>
	 </div>
	 <span style="top: 100px;" class="listjiantou"></span>
</div>