<%- include listleft.html %>$<div class="leftmenuchild">
		<div class="menuchild">
			<h2><a href="#" title="">信息管理</a></h2>
			<ul>
				<li id="menu_node"><a href="/node" onclick="manageui.SetLoca('node_info')" title="">栏目管理</a></li>
				<li id="menu_article"><a href="/article" onclick="manageui.SetLoca('article_info')" title="">文章管理</a></li>
				<li id="menu_block"><a href="/module"  onclick="manageui.SetLoca('module_info')" title="">模块管理</a></li>
			</ul>
		</div>
		<div class="menuchild">
			<h2><a href="#" title="">快捷通道</a></h2>
			<ul>

			</ul>
		 </div>
		 <span style="top: 100px;" class="listjiantou"></span>
	</div>