<ul class="leftmenu">
		<li title="菜单切换"><a href="javascript:manageui.TabMenu('index');" title=""><span class="icon_trunright"></span></a></li>
		<li id="menu" title="返回首页"><a href="index.aspx" title=""><span class="icon1"></span></a></li>
		<li id="menu_info" title="信息管理"><a href="javascript:manageui.TabMenu('tab','info_info')" title=""><span class="icon_info"></span></a></li>
		<li id="menu_hudong" title="互动管理"><a href="javascript:manageui.TabMenu('tab','hudong_hudong')" title=""><span class="icon_hudong"></span></a></li>
		<li id="menu_system" title="系统管理"><a href="javascript:manageui.TabMenu('tab','system_system')" title=""><span class="icon3"></span></a></li>
		<li id="menu_ext"><a href="javascript:void(0);" title=""><span class="icon_ext"></span></a></li>
		<li><a href="javascript:void(0);" title=""><span class="icon_bbs"></span></a></li>
	</ul>
