<%- include listleft %>$<div class="leftmenuchild">
	<div class="menuchild">
		<h2><a href="#" title="">系统管理</a></h2>
		<ul>
			<li id="Li1"><a href="/user.aspx" onclick="manageui.SetLoca('user_system')" title="">用户管理</a></li>
			<li id="menu_template"><a href="/template.aspx" onclick="manageui.SetLoca('template_system')" title="">模板管理</a></li>
			<li id="menu_system"><a href="/system.aspx" onclick="manageui.SetLoca('system_system')" title="">系统设置</a></li>
		</ul>
	</div>
	<div class="menuchild">
		<h2><a href="#" title="">快捷通道</a></h2>
		<ul>
			</ul>
	 </div>
	 <span style="top: 100px;" class="listjiantou"></span>
</div>